html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.logo {
  display: block;
}

.nav {
  text-align: center;
}

ul {
  list-style: none;
}
.nav a {
color: #3783a3;
text-decoration: none;
}


.nav a:hover span,
.nav a:focus span {
border-bottom: .3rem solid #704c2a;
background-color: #704c2a;
}
