@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .5rem;
  grid-template-areas:
    "header header"
    "main";
}

header {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.logo, .logo-text{
  display: block;
  text-align: center;
  font-style: normal;
}

h1 {
  margin-bottom: 0;
}
ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin-top: 0;
}

a {
  color: #3783a3;
  padding: 1rem;
}

.img-flex {
  width: 100%;
}

h2 {
  font-size: 2.2em;
  border-top: 5px solid #e2e2e2;
}

.banner{
  padding: 1rem;
  text-align: center;
}

p {
  border-bottom: 5px solid #e2e2e2;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}
